


.cont201{

    width:65%;
    height: 480px;
    /* background-color: red; */
    
    
    border-radius: 15px;
    background-image:  url('https://cdn.usegalileo.ai/sdxl10/7a4f87e8-4c10-4eec-afff-ebb5abde991d.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
    /* background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) ); */
   
  
}


.con22{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) );
}