h1{
    
}








.con1{

    width:70%;
    height: 580px;
    /* background-color: red; */
    justify-content: center;
    align-items:center;
    
    border-radius: 15px;
    background-image:  url('https://cdn.usegalileo.ai/sdxl10/f19572df-3304-4064-aa15-f19df58d4b06.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% ;
    background-
    /* background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) ); */
   
  
}


.con2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) );
}



    /* background-image: url('https://cdn.usegalileo.ai/sdxl10/f19572df-3304-4064-aa15-f19df58d4b06.png'); */
 