h1{
    
}



/* #flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1006px;
    height: 215;
    border: 1px black solid; 
    margin: 0 auto;
} */

/* .flex-item {
    width: 318px;
    height: 200px;
    border: 1px black solid;
    background: white;
    position: relative;
    align-items: center;
}

.para{
    position: absolute;
    top: 100px;
    left: 40px;
} */




.con1{

    width: 800px;
    height: 480px;
    background-color: red;
    justify-content: center;
    align-items:center;
    margin-left: 50px;

}