h1{
    
}








.con1{

    width:80%;
    height: 480px;
    /* background-color: red; */
    justify-content: center;
    align-items:center;
    
    border-radius: 15px;
    background-image:  url('https://cdn.usegalileo.ai/sdxl10/f19572df-3304-4064-aa15-f19df58d4b06.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
  
}



    /* background-image: url('https://cdn.usegalileo.ai/sdxl10/f19572df-3304-4064-aa15-f19df58d4b06.png'); */
 