

.container{

    width:70%;
    height: 580px;
    /* background-color: red; */
    
    
    border-radius: 15px;
    background-image:  url('https://cdn.usegalileo.ai/sdxl10/d0655ed6-a2e5-44b4-ab80-24c52d42d628.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
    /* background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) ); */
   
  
}



.con2{
    width: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) );
}