






.cont202{

    width:65%;
    height: 540px;
    /* background-color: red; */
    
    
    border-radius: 15px;
    background-image:  url('https://cdn.usegalileo.ai/sdxl10/447b6b35-8eb0-4bfc-81bb-98dfbf76aa80.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
    /* background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) ); */
   
  
}


.con22{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) );
}